body
{
  background-color: #d2d2d2 !important;
}

.body-content 
{
  padding-top:20px;
  padding-bottom: 20px;

  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

ul {

}





@media screen and (max-width: 1024px) {
 

}


@media screen and (max-width: 500px) {


}

 