extends layout
include parameter-details.pug
include dataset-details.pug

block content
    //- *******************************************************************************
    //- * (C) Copyright IBM Corporation 2018
    //- * All Rights Reserved
    //- *******************************************************************************

    +parameter-details(parameters)

    -for (var ds in datasets.datasets)
        -var thisDs = datasets.datasets[ds]
        +dataset-details(thisDs)