extends layout
include explanation-details.pug

block content

    //- *******************************************************************************
    //- * (C) Copyright IBM Corporation 2018
    //- * All Rights Reserved
    //- *******************************************************************************

    div
        h1 Parameters
        table(border=1)
            tbody
                tr
                    td (none)

        -for (var e in explanations.explanations)
            -var thisExp = explanations.explanations[e]
            +explanation-details(thisExp)