extends layout
include parameter-details.pug
include explanation-details.pug

block content

    //- *******************************************************************************
    //- * (C) Copyright IBM Corporation 2018
    //- * All Rights Reserved
    //- *******************************************************************************

    +parameter-details(parameters)
    +explanation-details(explanation)