extends layout
include parameter-details.pug
include explanation-details.pug

block content

    //- *******************************************************************************
    //- * (C) Copyright IBM Corporation 2018
    //- * All Rights Reserved
    //- *******************************************************************************

    +parameter-details(parameters)

    -for (var e in explanations.explanations)
            -var thisExp = explanations.explanations[e]
            +explanation-details(thisExp)