mixin image-details(img, num, total)

    //- *******************************************************************************
    //- * (C) Copyright IBM Corporation 2018
    //- * All Rights Reserved
    //- *******************************************************************************

    div(id='div_image')
        -if(num == null)
            h1 Image
        -else
            h1 Image #{num} of #{total}

        table(id='original', border=1)
            tbody
                tr
                    td Image name
                    td #{img.image_name}
                tr
                    td Image
                    td
                        img(alt='Test image', src='data:img/jpg;base64,' + img.input)
                tr
                    td Ground truth
                    td #{img.ground_truth}
