// *******************************************************************************
// * (C) Copyright IBM Corporation 2018
// * All Rights Reserved
// *******************************************************************************

doctype html
html
  meta(charset='utf-8')
  head
    title=title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css', integrity='sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B', crossorigin='anonymous')
    script(src="/js/p5.js")
  body()
    div(class="text-white bg-dark")
      div(class="container-fluid")
        div(class="row")
          div(class="col-sm")
            a(href='/', class='text-white') Home
          div(class="col-sm")
            a(href='/README.md', class='text-white') README.md
    block content