// *******************************************************************************
// * (C) Copyright IBM Corporation 2018
// * All Rights Reserved
// *******************************************************************************

doctype html
html
  meta(charset='utf-8')
  head
    title=title
  body()
  div
    a(href='/') home
    | &nbsp;&nbsp;|&nbsp;&nbsp;
    a(href='/README.md') README
    hr
    block content