extends layout
include parameter-details.pug
include model-details.pug

block content

    //- *******************************************************************************
    //- * (C) Copyright IBM Corporation 2018
    //- * All Rights Reserved
    //- *******************************************************************************

    +parameter-details(parameters)

    h1 Results
        -for (var m in models.models)
            -var thisModel = models.models[m]
            +model-details(thisModel)