extends layout
include parameter-details.pug
include model-details.pug

block content

    //- *******************************************************************************
    //- * (C) Copyright IBM Corporation 2018
    //- * All Rights Reserved
    //- *******************************************************************************

    +parameter-details(parameters)

    -for (var m in models)
        -var thisModel = models[m]
        +model-details(thisModel)