extends layout
include model-details.pug

block content

    //- *******************************************************************************
    //- * (C) Copyright IBM Corporation 2018
    //- * All Rights Reserved
    //- *******************************************************************************

    div
        h1 Parameters
        table(border=1)
            tbody
                -for (var i in parameters)
                    -var thisParm = parameters[i]
                    tr
                        td #{i}
                        td #{thisParm}
        hr

    h1 Results
        -for (var m in models.models)
            -var thisModel = models.models[m]
            +model-details(thisModel)